[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IBMPopSim"]
	path = IBMPopSim
	url = https://github.com/daphnegiorgi/ibmpopsim
[submodule "ppsbm"]
	path = ppsbm
	url = https://github.com/cran/ppsbm
